<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/m2mgps?characterEncoding=UTF-8</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- 	mapping		-->
<!--		<mapping class="com.navigrad.m2m.server.gps.entity.AbstractEntity" />-->
		<mapping class="com.navigrad.m2m.server.gps.entity.User" />
		<mapping class="com.navigrad.m2m.server.gps.entity.GPSData" />
		<mapping class="com.navigrad.m2m.server.gps.entity.Transport" />
	</session-factory>
</hibernate-configuration>