html {
	height: 100%
}

body {
	background: url("../resources/images/background.png");
	padding: 0;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 1024px;
	font-size: 12px;
	/*overflow: hidden;*/
}

div.menu {
	width: 30%;
	margin: 2px;
	margin-left: 3%;
	margin-right: 3%;
	float: left;
	border: 1px black solid;
}

div.selected {
	background: yellow;
}

.label {
	width: 150px;
	padding: 2px;
}

input {
	width: 150px;
	padding: 2px;
}

div.label {
	
}