html {
	height: 100%
}

body {
	background: url("../resources/images/background.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
}

input {
	padding: 2px;
}

* {
	border-color: #64c0c1;
	padding: 0px;
	margin: 0px auto 0px;
	padding: 0px;
}

#wrapper,#header,#footer {
	width: 1024px;
}

.button {
	min-width: 60px;
	width: auto;
	
}

div.menu {
	width: 24.5%;
	margin: 0px;
	float: left;
	border: 1px black solid;
	padding: 0px;
	font-size: 14px;
}

.activeMenu {
	background: yellow;
}

.label {
	float: left;
	width: 200px;
	padding: 2px;
}

input {
	width: 200px;
	padding: 2px;
}

#header {
	background: url("../resources/images/background_header.png");
	height: 120px;
}

#userLogIn {
	float: right;
	width: 200px;
	border-style: solid;
	border-width: 1px;
	height: 50px;
}

.maxWidth {
	float: left;
	width: 100%;
}

#wrapper {
	min-height: 100%;
}

#wrapper,#header,#footer {
	border-style: solid;
	border-width: 1px;
}

#content,#wrapper {
	background-color: white;
}

#footer {
	background: url("../resources/images/background_footer.png");
	margin: -100px auto 0;
	height: 100px;
}